.home {
  background-color: #000000 !important;
  height: 100vh;
}

.home h2 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 48px;
  color: var(--white-color);
}

.central {
  text-align: center;
}

.slick-next:before,
.slick-prev:before {
  font-size: 0px !important;
  line-height: 1;
  opacity: 0.75;
  color: #fff;
}
