.wallets {
  background-color: #171822;
  padding: var(--padding);
  /* remove later */
  height: 100vh;
}

.background {
  background: #212330;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  padding: 20px;
  position: relative;
  margin-bottom: 20px;
}

.totbalance {
  font-family: var(--main-font);
  font-size: 20px;
  font-weight: 600;
  line-height: 46px;
  color: var(--white-color);
}

.tshape {
  font-family: var(--main-font);
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  color: #7b7f9e;
  margin-top: -15px;
}

.circle {
  font-family: var(--main-font);
  width: 60px;
  height: 60px;
  border-radius: 250px;
  font-size: 25px;
  color: #83bd67;
  line-height: 100px;
  text-align: center;
  background: #35423b;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 5%;
  top: 23%;
}

.center > h4 {
  text-align: center;
}

.arrow {
  color: #fff;
  font-size: 30px;
  margin-top: -10px !important;
}

/* move circle shape to the end on tabs & desktop */
@media (min-width: 768px) {
  .circle {
    position: absolute;
    right: 1% !important;
    top: 23%;
  }
}
